{% extends './base.html' %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-9">
        <div class="card" style="background-color: #eecfb6; padding: 20px; border-radius: 10px; width: 900px;">
            <h2 style="color: rgb(143, 78, 44);"><b>Pets</b></h2>
            <a href="{% url 'pet_create' %}" class="btn btn-primary mb-3" style="width: 100px;">New Pet</a>
            <table class="table table-striped text-center align-middle" border="5">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>Name</th>
                        <th>Breed</th>
                        <th>Age</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pet in pets %}
                    <tr>
                        <td>
                            {% if pet.photo %}
                                <img src="{{ pet.photo.url }}" alt="Photo of {{ pet.name }}" style="width: 100px; height: auto; border-radius: 5px;">
                            {% else %}
                                <p>No photo</p>
                            {% endif %}
                        </td>
                        <td>{{ pet.name }}</td>
                        <td>{{ pet.breed }}</td>
                        <td>{{ pet.age }}</td>
                        <td>
                            <a href="{% url 'pet_detail' pet.id %}" class="btn btn-info btn-sm">View</a>
                            <a href="{% url 'pet_update' pet.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'pet_delete' pet.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
